@page "/stockquote"
@rendermode InteractiveServer
<card class="h-50">
    <cardHeader>Chat History</cardHeader>
    <cardBody TextAlignment="TextAlignment.Justified">
        <div class="col-12 d-flex flex-column h-25">
            <div class="flex-grow-1 overflow-auto"
                 style="height: 25vh; overflow-y: auto">
                @((MarkupString)@responseToDisplay.ToString())
            </div>
            @*  <textarea class="form-control" rows="15" readonly value="@((MarkupString)@responseToDisplay)"></textarea>  *@

        </div>
    </cardBody>
</card>
<br />
<textarea class="form-control" rows="9" @bind=@UserInput />
<br />
<button type="button" class="btn btn-success" @onclick="OnSubmitClick">Submit</button>
<br/>
<p>You can request stock quotes by asking, &quot;Please get me the quote for MSFT&quot; or &quot;Please get me the stock price for IBM, C, JPM, and TSLA; please present the values in a tabular format.&quot;</p>
<p>For currency conversions, you can ask, &quot;Please convert 200 USD to INR, ZAR, and SZL&quot;. You can also get the values in a table by asking, &quot;Convert 200 USD to INR, ZAR, and SZL and present it as a table&quot;.</p>
<p>Certainly! Let&#39;s refine that text to make it clear and concise:</p>
<ol>
    <li>
        <p>To request stock quotes:</p>
        <ul>
            <li>You can say, &quot;Please get me the quote for MSFT.&quot;</li>
            <li>Or, if you want multiple stock prices in a tabular format, say, &quot;Please get me the stock price for IBM, C, JPM, and TSLA; please present the values in a tabular format.&quot;</li>
        </ul>
    </li>
    <li>
        <p>For currency conversions:</p>
        <ul>
            <li>You can ask, &quot;Please convert 200 USD to INR, ZAR, and SZL.&quot;</li>
            <li>If you&#39;d like the values presented in a table, say, &quot;Convert 200 USD to INR, ZAR, and SZL and present it as a table.&quot;</li>
        </ul>
    </li>
</ol>
